h3{
  margin-top: 0px;
  margin-bottom: 10px;
  color:#1FCEA8;
}
h3:first-of-type{
  color:white;
}
.thumbnail .btn{
  border-radius: 50%;
  background-color: #1FCEA8;
  border:#1FCEA8;
}
.thumbnail .btn:hover{
  background-color: #d7fff1;
}
.col-md-5>p{
  color:white;
}
.thumbnail img{
  border:10px solid #FFFF00;
  margin-bottom:20px;
}
.btn{
  background: #FFFF00;
  margin-bottom: 20px;
}
a{
  color:white;
  text-decoration: underline;
  margin-left: 50px;
}
.container{
  margin-top: 50px;
}
.thumbnail{
  margin-left: 80px;
  border:none;
  background: transparent;
}
.bar{
  position: relative;
  margin:auto;
  width:50%;
}

.round2{
  height:30px;
  width:30px;
}

.round3{
  height:34px;
  width:34px;
}

.round4{
  height:38px;
  width:38px;
}

.round5{
  height:42px;
  width:42px;
}


.round p{
  position:relative;
  color:#4D316A;
  margin:0px;

}
.currentStep{
  background: white;
}
iframe{
  //display: none;
}
