<body class="col-md-12">
<div class="col-md-5 topManual">
  <img src=".\assets\image\step_bar.png" alt="">
  <h3>Rate from 1 to 5</h3>
  <h3>this Hip-Hop sub genre</h3>
  <p>Inorder to get to know you and offer you songs</p>
  <p>according to your highest ratings</p>
</div>
<div class="col-md-1 col-md-offset-4">
  <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_184/assets/image/pexels-photo-205926.png" alt="" class="img-responsive">
</div>
<div class="container col-md-8 col-md-offset-2">
  <app-music-player
    *ngIf="songs"
  class="col-md-4"></app-music-player>
  <div class="thumbnail col-md-6">
    <img *ngIf="songs" src="{{songs[0].imgSrc}}" alt="">
    <div class="col-md-12 col-md-offset-3">
     <button type="button" (click)="onGenreRated(1)"
             class="btn btn-sm btn-default ">1</button>
     <button type="button" (click)="onGenreRated(2)"
             class="btn btn-sm btn-default round2">2</button>
     <button type="button" (click)="onGenreRated(3)"
             class="btn btn-sm btn-default round3">3</button>
     <button type="button" (click)="onGenreRated(4)"
             class="btn btn-sm btn-default round4">4</button>
     <button type="button" (click)="onGenreRated(5)"
             class="btn btn-sm btn-default round5">5</button>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn  col-md-4"
            routerLinkActive="active" routerLink="/main/{{genreRaited[0]}}/{{genreRaited[1]}}"
            (click)="onGoToMain()">CONTINUE</button>
    <a href="">skip</a>
  </div>
</div>
<div *ngIf="songs">
  <iframe  *ngIf="i==0"  width="640" height="360" src="https://www.youtube.com/embed/kJQP7kiw5Fk?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <iframe  *ngIf="i==1"  width="640" height="360" src="https://www.youtube.com/embed/SXiSVQZLje8?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <iframe  *ngIf="i==2"  width="640" height="360" src="https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <iframe  *ngIf="i==3"  width="640" height="360" src="https://www.youtube.com/embed/fwK7ggA3-bU?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <iframe  *ngIf="i==4"  width="640" height="360" src="https://www.youtube.com/embed/NGLxoKOvzu4?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
</body>
