<div class="col-md-5">
  <img src=".\assets\image\step_bar.png" alt="">
  <h3>Rate from 1 to 5</h3>
  <h3>this Hip-Hop sub genre</h3>
  <p>Inorder to get to know you and offer you songs</p>
  <p>according to your highest ratings</p>
</div>
<div class="col-md-1 col-md-offset-4">
  <img src="../assets/image/pexels-photo-205926.png" alt="" class="img-responsive">
</div>
<div class="container col-md-8 col-md-offset-2">
  <app-music-player class="col-md-4"></app-music-player>
  <div class="thumbnail col-md-6 ">
    <img src="../assets/image/maxresdefault.jpg" alt="">
    <div class="bar">
      <div class="round1 text-center">
        <p class="text-center">1</p>
      </div>
      <div class="round2 text-center">
        <p class="text-center">2</p>
      </div>
      <div class="round3 text-center currentStep">
        <p class="text-center">3</p>
      </div>
      <div class="round4 text-center">
        <p class="text-center">4</p>
      </div>
      <div class="round5 text-center">
        <p class="text-center">5</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn  col-md-4">CONTINUE</button>
    <a href="">skip</a>
  </div>
</div>
