<youtube-player
  [videoId]="currentSong.urlSrc"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
></youtube-player>


<div class="col-md-3 temp">
  <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_184/assets/image/player.png" class="img-responsive" alt="">
  <div class="play" (click)="play()"></div>
  <div class="stop" (click)="pause()"></div>
  <div class="next" (click)="next()"></div>
  <div class="prev" (click)="prev()"></div>
</div>


<div class="col-md-5 temp">
  <img [src]="currentSong.imgSrc" class="col-md-2 playerImg" [alt]="currentSong.title">
  <p>{{currentSong.author[0]}}</p>
  <h3>{{currentSong.title}}</h3>
  <div class="panel panel-default ">
    <div class="panel-body">
      <div class="row">
        <p class="col-md-2 text-center" for="">0:00</p>
        <div class="progress col-md-8">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="col-md-2 text-center" for="">{{currentSong.length}}</p>
      </div>
    </div>
  </div>
</div>
