<img src=".\assets\image\player.png" class="img-responsive" alt="">
<div class="panel panel-default ">
  <div class="panel-body">
    <div class="row">
    <p class="col-md-2 text-center" for="">{{timer}}</p>
    <div class="progress col-md-8">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="col-md-2 text-center" for="">1-{{timer}}</p>
    </div>
  </div>
</div>
<p class="text-center">MQ - final song</p>
