<nav class="navbar">
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" routerLink="/main"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>SEARCH</a></li>
        <li><a routerLinkActive="active" routerLink="/album">MUSIC</a></li>
        <li><a routerLinkActive="active" routerLink="/artist">EVENTS</a></li>
      </ul>
</nav>


<!--<nav>-->
  <!--<ul>-->
    <!--<a routerLinkActive="active" routerLink="/general"><li>Overview</li></a>-->
    <!--<a routerLinkActive="active" routerLink="/byid"><li>Movie by ID</li></a>-->
    <!--<a routerLinkActive="active" routerLink="/byname"><li>Movie by Name</li></a>-->
    <!--<a routerLinkActive="active" routerLink="/bygenyear"><li>Movie by Genre & Year</li></a>-->
  <!--</ul>-->
<!--</nav>-->

