app-sign-up-steps{
  //border: 1px solid black;
  padding-top: 30px;
}

app-music-player{
  //border: 1px solid red;
  padding-top: 150px;
}

/*app-genre-rating{*/
/*background:#4E326B;*/
/*}*/
/*app-header{*/
  /*background: #4D316A;*/
/*}*/

app-artist-wall{
  background: url('../assets/image/dj-1204x642.jpg');
  background-repeat: repeat-x;
  background-size: 100%;
}
app-footer-player{
  /*background:  #4D316A;*/
  color:white;
}
