<form class="form-horizontal">
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Your email address</label>
    <div class="col-md-7">
      <input type="email" class="form-control" id="" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Create a user name</label>
    <div class="col-md-7">
      <input type="password" class="form-control" id="" placeholder="User name">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Create a password</label>
    <div class="col-md-7">
      <input type="password" class="form-control" id="" placeholder="User name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> I agree to the Terms of use and Privacy policy.
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-warning col-md-9">Sign in</button>
  </div>
</form>
