div{
  //border:3px solid red;
}
.thumbnail{
  border:none;
}
img{
  padding-bottom: 15px;
}
.btn{
  border: 2px solid #1FCEA8;
  border-radius: 10px;
  margin-left: 10px;
}
a{
  color:black;
}

.playImage{
  padding:0;
}

.row{
  margin-bottom: 5vw;
}
