<form (ngSubmit)="onSignIn(f)" #f="ngForm" class="form-horizontal">
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Your email address</label>
    <div class="col-md-7">
      <input type="text" class="form-control" name="emailInput" ngModel placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Create a user name</label>
    <div class="col-md-7">
      <input type="text" class="form-control" name="userNameInput" ngModel placeholder="User name">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-5 control-label">Create a password</label>
    <div class="col-md-7">
      <input type="text" class="form-control" name="passwordInput" ngModel placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="confirmation" ngModel> I agree to the Terms of use and Privacy policy.
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-warning col-md-9"
              routerLinkActive="active" routerLink="/subGenreRating">CONTINUE</button>
  </div>
</form>
<div
*ngIf="user"
class="col-md-12">
<div class="thumbnail col-md-12">
  <img class="image-responsive col-md-4" src="./assets/image/HipTop_user.png" alt="...">
  <div class="caption">
    <h3>New User Created</h3>
    <p>email: {{user.email}}</p>
    <p>user name: {{user.name}}</p>
    <p>password: {{user.password}}</p>
  </div>
</div>
</div>
